<section class="vh-100 bg-gradient-to-r from-green-400 to-green-700">
  <div class="container py-5 h-100">
    <div class="flex justify-center items-center h-100">
      <div class="w-full md:w-2/3 lg:w-1/2 xl:w-2/5">
        <div class="card bg-dark text-white rounded-xl">
          <div class="card-body p-5 text-center">
            <div>
              <p class="mb-0">
                Ooops... Not Found...
                <a href="/login" class="text-white-50 font-bold">Go Back</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
